﻿@page
@model foodbank_website.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="page-header">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div style="margin-top: 100px; margin-bottom: 100px;">
        <div class="card border-secondary mb-3" style="width: 50rem; padding: 25px;">
            <div class="row justify-content-center">
                <h4>Event</h4>
            </div>
            <hr />

            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Event.Title)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.Title)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Event.Date)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.Date)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Event.Location)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.Location)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Event.Description)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.Description)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Event.totalMembers)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.totalMembers)
                </dd>
                <dt class="col-sm-5">
                    Created By
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Event.Owner.UserName)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Event.ID" />
                <input type="submit" value="Delete" class="btn btn-danger float-right" />
                <a asp-page="../AllEvents" class="float-left">Back to List</a>
            </form>
        </div>
    </div>
</div>  

<div style="text-align:center;">
    <h3 style="margin-top: 50px;">Are you sure you want to delete this?</h3>
</div>