﻿@page
@model foodbank_website.Pages.UserRoles.AssignModel

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="page-header">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div style="margin-top: 100px;">
        <div class="card event-card border-secondary mb-3" style="padding:30px;">
            <div class="row justify-content-center">
                <h4>Assign a Role</h4>
            </div>
            <hr />
            <div class="row justify-content-center">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserValue" class="control-label">User</label>
                        <select asp-for="UserValue" class="form-control" asp-items='(SelectList)ViewData["users"]'>
                            <option value="">Unassigned</option>
                        </select>
                        <span asp-validation-for="UserValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleValue" class="control-label">Role</label>
                        <select asp-for="RoleValue" class="form-control" asp-items='(SelectList)ViewData["roles"]'>
                            <option value="">Unassigned</option>
                        </select>
                        <span asp-validation-for="RoleValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary float-right" style="margin-top:20px;" />
                    </div>
                </form>
            </div>
        </div>
        <div class="container float-left">
            <a asp-page="/UserRoles/Index"> < Back to Roles</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
